@import "../../App.scss";

/* Color Palette and Typography: Start */
$hero-base-color-primary: #0c0c1d;
$hero-base-color-secondary: #111132;
$hero-brand-color-primary: rgb(102, 51, 153);
$hero-btn-color-primary: rgb(255, 255, 255);
$hero-slidingtext-color-primary: #ffffff09;
/* End: Color Palette and Typography */

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(
    180deg,
    $hero-base-color-primary,
    $hero-base-color-secondary
  );
  position: relative;
  overflow: hidden;

  .hero-wrapper {
    max-width: 1300px;
    height: 100%;
    margin: auto;

    .hero-container--text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h1 {
        font-size: 88px;

        @include mobile {
          font-size: 34px;
        }
      }

      h2 {
        font-size: 30px;
        color: $hero-brand-color-primary;
        letter-spacing: 10px;
      }

      .hero-btns {
        z-index: 1;
        button {
          padding: 20px;
          border: 1px solid $hero-btn-color-primary;
          border-radius: 10px;
          background-color: transparent;
          color: $hero-btn-color-primary;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;

          transition-duration: 0.2s;
          transition-property: scale;

          &:hover {
            background-color: $hero-btn-color-primary;
            // border: 1px solid orange;
            color: black;
          }
          &:active {
            scale: 0.9;
          }

          @include mobile {
            margin-right: 0;
          }
        }

        button:last-of-type {
          margin-left: 20px;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .hero-container--img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      height: 45%;
      width: 100%;
      top: unset;
      bottom: 0;

      display: flex;
      justify-content: center;
    }

    img {
      margin-right: 100px;
      height: 900px;
      border-radius: 20px;

      @include mobile {
        height: 480px;
        width: 50%;
        margin-right: unset;
      }

      @media (max-width: 500px) {
        width: 80%;
      }
    }
  }

  .hero-slidingtext {
    position: absolute;
    font-size: 50vh;
    bottom: -100px;
    white-space: nowrap;
    color: $hero-slidingtext-color-primary;
    width: 50%;
    font-weight: bold;
  }
}
