/********************** GENERAL SETTINGS: START **********************/
/* Color Palette and Typography: Start */
/* End: Color Palette and Typography */
/* html: Start */
html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* End: html */
/* Universal Selector: Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* End: Universal Selector */
/* Body: Start */
body {
  background-color: #0c0c1d;
  color: #d3d3d3;
  font-family: "DM Sans", sans-serif;
}

/* End: Body */
/* section: Start */
section {
  height: 100vh;
  scroll-snap-align: center;
}

/* End: section */
/*  anchor: Start */
a {
  color: inherit;
  text-decoration: none;
}

/* End: anchor */
/********************** END: GENERAL SETTINGS **********************/
/********************** RESPONSIVE DESIGN: START **********************/
/********************** END: RESPONSIVE DESIGN **********************/
/* Color Palette and Typography: Start */
/* End: Color Palette and Typography */
.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  overflow: hidden;
}
.hero .hero-wrapper {
  max-width: 1300px;
  height: 100%;
  margin: auto;
}
.hero .hero-wrapper .hero-container--text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 738px) {
  .hero .hero-wrapper .hero-container--text {
    height: 50%;
    width: 100%;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
.hero .hero-wrapper .hero-container--text h1 {
  font-size: 88px;
}
@media (max-width: 738px) {
  .hero .hero-wrapper .hero-container--text h1 {
    font-size: 34px;
  }
}
.hero .hero-wrapper .hero-container--text h2 {
  font-size: 30px;
  color: rgb(102, 51, 153);
  letter-spacing: 10px;
}
.hero .hero-wrapper .hero-container--text .hero-btns {
  z-index: 1;
}
.hero .hero-wrapper .hero-container--text .hero-btns button {
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  cursor: pointer;
  font-weight: 300;
  transition-duration: 0.2s;
  transition-property: scale;
}
.hero .hero-wrapper .hero-container--text .hero-btns button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.hero .hero-wrapper .hero-container--text .hero-btns button:active {
  scale: 0.9;
}
@media (max-width: 738px) {
  .hero .hero-wrapper .hero-container--text .hero-btns button {
    margin-right: 0;
  }
}
.hero .hero-wrapper .hero-container--text .hero-btns button:last-of-type {
  margin-left: 20px;
}
.hero .hero-wrapper .hero-container--text img {
  width: 50px;
}
.hero .hero-container--img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 738px) {
  .hero .hero-container--img {
    height: 45%;
    width: 100%;
    top: unset;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
}
.hero .hero-container--img img {
  margin-right: 100px;
  height: 900px;
  border-radius: 20px;
}
@media (max-width: 738px) {
  .hero .hero-container--img img {
    height: 480px;
    width: 50%;
    margin-right: unset;
  }
}
@media (max-width: 500px) {
  .hero .hero-container--img img {
    width: 80%;
  }
}
.hero .hero-slidingtext {
  position: absolute;
  font-size: 50vh;
  bottom: -100px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.0352941176);
  width: 50%;
  font-weight: bold;
}/*# sourceMappingURL=Hero.css.map */